{% extends "./base.html" %}

{% load static %}
{% block title %} Department {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/dept.css' %}">

<div class="container py-5">
    <div class="row g-4 justify-content-center">
      {% for d in dept %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card h-100 shadow-sm">
            <div class="card-body">
              <h5 class="card-title fw-bold text-decoration-underline">{{ d.dept_name }}</h5>
              <p class="card-text">{{ d.dept_desc }}]</p>
              <a href="{% url 'doctors' %}" class="btn btn-primary">Doctors List</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  

{% endblock %}