body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar-dark {
    background-color: #1a0f49 !important; /* Dark blue background */
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.nav-link {
    color: white !important;
    font-size: 1rem;
}
.nav-link:hover {
    color: #00c2ff !important; /* Light blue hover effect */
}
.btn-appointment {
    background-color: #00c2ff;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
}
.btn-appointment:hover {
    background-color: #009acd;
}
  